* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: #AAABB8;
    box-sizing: border-box;
}

.navbar {
    background-color: #252743;
    position: fixed;
    width: 100vw;
    height: 40px;
}

.navbar > ul {
    list-style-type: none;
}

.nav-item {
    color: #AAABB8;
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 1 rem;
}

.nav-item:active, .nav-item:visited:active {
    color: white;
}

.nav-item:hover {
    color: white;
}

#welcome-section {
    height: 100vh;
    background-color: white;
}

.intro-box {
    padding-top: 45vh;
    padding-left: 7%;
    padding-right: 5%;
}

.intro {
    color: #252743;
    display: inline-block;
    font-size: 4vw;
}

.accent {
    color: #2E9CCA;
}

.content {
    background: linear-gradient(to bottom, #252743, #595C81);
}

#about-section {
    padding-top: 6vh;
    text-align: center;
}

#portfolio-section {
    padding-top: 6vh;
    text-align: center;
}

#contact-section {
    padding-top: 6vh;
    text-align: center;
}

.about-blurb {
    padding: 2%;
    margin: 3vh auto;
    width: 70%;
    border: solid 5px #AAABB8;
    text-align: left;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.personal-statement {
    padding: 0 0 0 20px;
    flex: 1 2 65%;
    font-size: 1.05rem;
}

.prof-pic {
    border: solid 2px #AAABB8;
    flex: 0 0 17%;
}

.portfolio {
    display: grid;
    height: 100vh;
    margin: 3vh 20px 0 20px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.grid-item {
    border: solid 2px #AAABB8;
    width: 100%;
    height: 100%;
}

.contact-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 20vh;
    width: 80%;
    margin: 6vh auto 0 auto;
}

.contact-link:hover {
    color: white;
}